:root {
    --main-text-color: #757575;
    --main-bcg-color: #ffffff;
    --second-bcg-color: #f5f4fa;
    --nav-text-color: #000000;
    --accent-color: #2196F3;
    --btn-hover-color: #188CE8;
    --hero-bcg-color: #2F303A;
    --main-header-color: #ffffff;
    --second-header-color: #212121;
    --button-color-hover: #eeeeee;
    --footer-bcg-clr: #2f303a;
    --footer-contcs-clr: rgba(255, 255, 255, 0.6);
    --border-bottom-clr: #ECECEC;
    --border-clients-clr: #AFB1B8;




}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bcg-color);

}

/* Reset Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.list {
    list-style: none;
    text-decoration: none;
    margin: 0;

}

.link {

    text-decoration: none;
    display: block;
    padding-left: 0;
    margin: 0;
}



/* Общий контейнер  */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

.header {
    border-bottom: 1px solid var(--border-bottom-clr);
}

.header-container {
    display: flex;
    align-items: center;

}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    display: block;
    margin-right: 93px;
}


.logo-name {
    color: var(--nav-text-color);
}

.link .logo-accent,
.footer-logo .logo-accent {
    color: var(--accent-color);
}


.navigation {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 50px;
    position: relative;
}

.navigation .list {
    padding-left: 0;
}

.navigation .nav-link {
    display: block;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: var(--second-header-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
}

.navigation .nav-link:hover,
.navigation .nav-link:focus,
.navigation .nav-link:active {
    color: var(--accent-color);
}

.link-current {
    color: var(--accent-color);
}

.link-current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;

}

/* Contacts */


.contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
    align-items: center;
    padding-left: 0;
}


.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item {
    align-items: baseline;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:active {
    color: var(--accent-color);
    cursor: pointer;

}

.icon-contact {
    margin-right: 10px;
    fill: currentColor;
}


/* Hero section */

.hero-container {
    margin-left: auto;
    margin-right: auto;


}

.hero {
    background-color: var(--hero-bcg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.hero .hero-title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-header-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero .hero-button {
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    padding: 10px 32px;


    background-color: var(--accent-color);
    color: var(--main-header-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

/* Modal Window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    background-color: inherit;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    cursor: pointer;
    fill: var(--accent-color);


}

.modal-btn-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
    margin-bottom: 12px;

}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
}

.register-form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.form-label {
    display: flex;
}

.form-label-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--main-text-color);

}

.form-input {
    height: 40px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);
    cursor: pointer;
    outline: transparent;
}


.form-input:hover+.form-icon,
.form-input:focus+.form-icon {
    fill: var(--accent-color);

}

.form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transform-origin: 50% 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-comment {
    max-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-comment:hover,
.form-comment:focus {
    border-color: var(--accent-color);
    cursor: pointer;
    outline: transparent;
}

.form-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
}

.register-form-checkbox:checked+.register-form-icon .register-form-unchecked {
    opacity: 0;
}

.register-form-checkbox:checked+.register-form-icon .register-form-checked {
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-agreement .register-form-unchecked {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), fill var(--accent-color);
}

.register-form-agreement:hover .register-form-unchecked,
.register-form-checkbox:focus+.register-form-icon .register-form-unchecked {
    fill: var(--accent-color);
}

.register-form-checked {
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    user-select: none;
}

.checkbox-agreement-link {
    cursor: pointer;
    color: var(--accent-color);
}

.modal-btn-submit {
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px;
    border-radius: 4px;
    align-items: center;
    outline: transparent;
    margin: 0 auto;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bcg-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
    cursor: pointer;
    background-color: var(--btn-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* Особенности */
.speciality {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.spec-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

.spec-list .spec-item {
    margin-left: 30px;
    min-width: 270px;

}

.spec-item:first-child {
    margin-left: 0;
}

.spec-group {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    background: var(--second-bcg-color);
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.speciality .item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-header-color);
}

.speciality .item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* Чем мы занимаемся */
.work {
    padding-bottom: 94px;
}

.work-title {
    margin-bottom: 50px;
}

.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}

.work-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0;
}

.item-work {
    margin-right: 30px;
    padding: 0;
    flex-basis: calc(100% - 60px)/3;
}

.work-list .item-work {
    width: 370px;
    height: 294px;
    position: relative;
}

.image-work {
    display: block;
    padding: 0;
}

.work-text {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    color: var(--main-bcg-color);
    background-color: rgba(47, 48, 58, 0.8);

}

.item-work:last-child {
    margin-right: 0;
}

/*  Kоманда  */
.team {
    background-color: var(--second-bcg-color);
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0;
}

.team-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

}

.team-title {
    margin-bottom: 50px;
}


.team-card {
    margin-right: 30px;
    width: 270px;
    background-color: var(--main-bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card:last-child {
    margin-right: 0;
}

.team-caption {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-image {
    display: block;
    width: 270px;
}

.card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
    margin-bottom: 10px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    padding: 0;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--border-clients-clr);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);

}

.card-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .card-icon,
.social-link:focus .card-icon {
    fill: #FFFFFF;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    padding: 0;
}

.clients-link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-clients-clr);
    color: var(--border-clients-clr);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}

/* .clients-icon {
    fill: #AFB1B8;
} */

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: #2196F3;
}



/* Footer */

.footer {
    background-color: var(--footer-bcg-clr);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-link {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-header-color);
}

.footer-address {
    display: block;
}

.footer-link .footer-contacts {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contcs-clr);
    list-style: none;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link {
    color: var(--main-bcg-color);
}

.address-item {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0;
}

.footer-link .footer-contacts:hover,
.footer-link .footer-contacts:focus {
    color: var(--main-header-color);
    cursor: pointer;
}


.join-group {
    margin-left: 70px;


}

.join-txt {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;

    color: var(--main-bcg-color);
    display: block;
    margin-bottom: 20px;

}

.join-list {
    display: flex;
    gap: 10px;
    padding: 0;
}

.join-link {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
}

.join-icon {
    fill: var(--main-bcg-color);
}

/* Footer Subscribe */


.subscribe-form {
    margin-left: 93px;
}

.subscribe-label-form {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bcg-color);
}

.subscribe {
    display: flex;
}

.subscribe-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    min-width: 358px;
    min-height: 50px;
    background-color: transparent;
    color: var(--main-bcg-color);
}

.subscribe-input::placeholder {
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    display: inline-flex;
    margin-left: 12px;
    width: 200px;
    max-height: 50px;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--main-bcg-color);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 18px 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.subscribe-btn-icon {
    fill: currentColor;
}

/* Portfolio page 2 */


/* Filters Portfolio */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
}

.filters-btn {
    margin-right: 8px;
}

.filters-btn:last-child {
    margin-right: 0;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
    background-color: var(--second-bcg-color);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list .btn:hover,
.filters-list .btn:active {
    color: var(--main-header-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects Portfolio */
.projects {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.projects-link:hover,
.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item {
    flex-basis: ((100% - 60px) / 3);
}

.projects-item .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item .link:hover .projects-thumb::before,
.projects-item .link:focus .projects-thumb::before {
    opacity: 1;
}

.projects-thumb {
    position: relative;
    overflow: hidden;
}

.projects-item .projects-image {
    width: 370px;
    height: 294px;
    display: block;
}

.projects-item .link:hover .overlay,
.projects-item .link:focus .overlay {
    transform: translateY(-100%);
}

.overlay-thumb-text {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--main-bcg-color);
    user-select: none;

    width: 322px;
    height: 168px;

}

.project-caption {
    padding: 20px 24px;
    border-left: 1px solid var(--button-color-hover);
    border-right: 1px solid var(--button-color-hover);
    border-bottom: 1px solid var(--button-color-hover);
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-header-color);
    margin-bottom: 4px;
}

.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 1;

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}